parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$body of method MobilePayPhp\\\\Api\\\\ResponseHandlerInterface\\:\\:handle\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Api/Client.php

		-
			message: "#^Offset 'idempotencyKey' does not exist on array\\|null\\.$#"
			count: 1
			path: ../src/MobilePay/AppPayment/Payments/CancelPaymentRequestTest.php

		-
			message: "#^Parameter \\#2 \\$array of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) expects array\\|ArrayAccess, array\\|null given\\.$#"
			count: 1
			path: ../src/MobilePay/AppPayment/Payments/CancelPaymentRequestTest.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, array\\|int\\|string given\\.$#"
			count: 1
			path: ../src/MobilePay/AppPayment/Payments/GetPaymentsResponse.php

		-
			message: "#^Parameter \\#1 \\$payload of class MobilePayPhp\\\\MobilePay\\\\AppPayment\\\\Payments\\\\GetPaymentsResponse constructor expects array\\<string, int\\|string\\>, array\\<string, array\\<int, array\\<string, int\\|string\\>\\>\\|int\\> given\\.$#"
			count: 1
			path: ../src/MobilePay/AppPayment/Payments/GetPaymentsResponseTest.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, array\\|int\\|string given\\.$#"
			count: 1
			path: ../src/MobilePay/AppPayment/Refunds/GetRefundsResponse.php

		-
			message: "#^Parameter \\#1 \\$payload of class MobilePayPhp\\\\MobilePay\\\\AppPayment\\\\Refunds\\\\GetRefundsResponse constructor expects array\\<string, int\\|string\\>, array\\<string, array\\<int, array\\<string, int\\|string\\>\\>\\|int\\> given\\.$#"
			count: 1
			path: ../src/MobilePay/AppPayment/Refunds/GetRefundsResponseTest.php
